@import '~vuetify/dist/vuetify.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

$primary-color: #FF4672;
$text-color-black: #424242;
$text-color-secondary: #7B7B7B;

@font-face {
  font-family: 'Nexa';
  font-weight: 300;
  src: url("../fonts/NexaLight.otf");
}

@font-face {
  font-family: 'Nexa';
  font-weight: 400;
  src: url("../fonts/NexaRegular.otf");
}

@font-face {
  font-family: 'Nexa';
  font-weight: 800;
  src: url("../fonts/NexaBold.otf");
}

@font-face {
  font-family: 'Nexa';
  font-weight: 900;
  src: url("../fonts/NexaBlack.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Nexa, serif;
}

.text-transformation-none {
  text-transform: none;
}

.app-bg-secondary {
  background-color: $text-color-black;
}

.app-bg-primary {
  background-color: $primary-color;
}

.text-black {
  color: $text-color-black;
}

.app-text-secondary {
  color: $text-color-secondary;
  font-size: 14px;
}

.app-background {
  background-color: #EDF1FF;
}

.menu-links {
  font-weight: lighter;
  color: $text-color-black;
  text-transform: none;
}

.app-title-head {
  font-size: 48px;
  line-height: normal;
}

.app-full-height-page {
  min-height: 100vh;
}

.app-letter-space {
  letter-spacing: 0.5em;
}

.app-sub-title {
  font-size: 36px;
}

.app-sub-title-2 {
  font-size: 24px;
}

.app-description {
  font-size: 14px;
  color: $text-color-secondary;
}

.app-icon-social {
  display: flex;
  gap: 18px;
  font-size: 24px;
  color: $primary-color;
}

.app-sub-title-section {
  font-size: 48px;
  color: $text-color-black;
}

.app-cursor-pointer {
  cursor: pointer;
}

.app-portfolio-space {
  margin-top: 18px;
}

.app-image {
  max-width: 100%;
}

.app-bar-style {
  box-shadow: 0 1px 1px rgba(144, 144, 144, 0.25) !important;
}

.app-footer-style {
  box-shadow: 0 -1px 1px rgba(144, 144, 144, 0.25) !important;
}

.app-bar-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.app-logo-title {
  font-weight: bold;
  font-size: 18px;
}

.app-bar-subhead {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.25em;
}

.app-font-size {
  font-size: 14px;
}

.v-toolbar__content {
  padding: 0 !important;
}

@media screen and (max-width: 425px) {
  .app-sub-title {
    font-size: 18px;
  }

  .app-title-head {
    font-size: 24px;
  }

  .app-sub-title-2 {
    font-size: 16px;
  }

  .app-image-me {
    width: 150px !important;
    height: 150px !important;
  }

  .app-header {
    display: flex;
    flex-direction: column-reverse;
  }

  .app-sub-title-section {
    font-size: 36px;
  }
}
